<h1>Lista de usuários</h1>

<table>
  <thead>
    <tr>
      <th>Login</th>
      <th>Senha</th>
      <th>Nome</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.login %></td>
        <td><%= usuario.password %></td>
        <td><%= usuario.name %></td>
        <td><%= usuario.email %></td>
        <td><%= link_to 'Mostrar', usuario %></td>
        <td><%= link_to 'Editar', edit_usuario_path(usuario) %></td>
        <td><%= link_to 'Deletar', usuario, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Usuário', new_usuario_path %>
